/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*  
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    */
    font-family: 'Roboto Condensed', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
    color: #666666;
}

/*body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}*/



/* Portrait layout (default) */
.app-2 {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */                                 /* offset horizontal: half of text area width */
}

.app {

}

input[type=number] {
    -webkit-text-security: disc;
}

.ui-btn-corner-all {
    -webkit-border-radius: 5px;
            border-radius: 5px;
}

.ui-btn {
    margin-top: 3em;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
}

/* THEME B: BLUE */
.ui-btn-up-b {
    border: 1px solid       #044062 /*{b-bup-border}*/;
    background:             #396b9e /*{b-bup-background-color}*/;
    color:                  #fff /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
    color:                  #fff /*{b-bup-color}*/;
}
.ui-btn-hover-b {
    border: 1px solid       #00415e /*{b-bhover-border}*/;
    background:             #4b88b6 /*{b-bhover-background-color}*/;
    color:                  #fff /*{b-bhover-color}*/;
    text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
    color:                  #fff /*{b-bhover-color}*/;
}
.ui-btn-down-b {
    border: 1px solid       #225377 /*{b-bdown-border}*/;
    background:             #4e89c5 /*{b-bdown-background-color}*/;
    color:                  #fff /*{b-bdown-color}*/;
    text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
    color:                  #fff /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
    text-decoration: none;
}

/* THEME C: GREY */
.ui-btn-up-c {
    border: 1px solid       #ccc /*{c-bup-border}*/;
    background:             #eee /*{c-bup-background-color}*/;
    color:                  #222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
    color:                  #2f3e46 /*{c-bup-color}*/;
}
.ui-btn-hover-c {
    border: 1px solid       #bbb /*{c-bhover-border}*/;
    background:             #dfdfdf /*{c-bhover-background-color}*/;
    color:                  #222 /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
    color:                  #2f3e46 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
    border: 1px solid       #bbb /*{c-bdown-border}*/;
    background:             #d6d6d6 /*{c-bdown-background-color}*/;
    color:                  #222 /*{c-bdown-color}*/;
    text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #fff /*{c-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
    color:                  #2f3e46 /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
    text-decoration: none;
}

/* THEME E: YELLOW */
.ui-bar-e {
    border: 1px solid       #f7c942 /*{e-bar-border}*/;
    background:             #fadb4e /*{e-bar-background-color}*/;
    color:                  #333 /*{e-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/    #fff /*{e-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFCC00 /*{e-bar-background-start}*/), to( #FF9900 /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #FFCC00 /*{e-bar-background-start}*/, #FF9900 /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #FFCC00 /*{e-bar-background-start}*/, #FF9900 /*{e-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFCC00 /*{e-bar-background-start}*/, #FF9900 /*{e-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFCC00 /*{e-bar-background-start}*/, #FF9900 /*{e-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #FFCC00 /*{e-bar-background-start}*/, #FF9900 /*{e-bar-background-end}*/);
}

.ui-btn-up-e {
    border: 1px solid       #f4c63f /*{e-bup-border}*/;
    background:             #FF9900 /*{e-bup-background-color}*/;
    color:                  #222 /*{e-bup-color}*/;
    text-shadow: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFCC00 /*{e-bup-background-start}*/), to( #FF9900 /*{e-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #FFCC00 /*{e-bup-background-start}*/, #FF9900 /*{e-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #FFCC00 /*{e-bup-background-start}*/, #FF9900 /*{e-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFCC00 /*{e-bup-background-start}*/, #FF9900 /*{e-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFCC00 /*{e-bup-background-start}*/, #FF9900 /*{e-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #FFCC00 /*{e-bup-background-start}*/, #FF9900 /*{e-bup-background-end}*/);
}
.ui-btn-up-e:visited,
.ui-btn-up-e a.ui-link-inherit {
    color:                  #222 /*{e-bup-color}*/;
}
.ui-btn-hover-e {
    border: 1px solid       #f2c43d /*{e-bhover-border}*/;
    background:             #fbe26f /*{e-bhover-background-color}*/;
    color:                  #111 /*{e-bhover-color}*/;
    text-shadow: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FF9900 /*{e-bhover-background-start}*/), to( #FFCC00 /*{e-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #FF9900 /*{e-bhover-background-start}*/, #FFCC00 /*{e-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #FF9900 /*{e-bhover-background-start}*/, #FFCC00 /*{e-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FF9900 /*{e-bhover-background-start}*/, #FFCC00 /*{e-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FF9900 /*{e-bhover-background-start}*/, #FFCC00 /*{e-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #FF9900 /*{e-bhover-background-start}*/, #FFCC00 /*{e-bhover-background-end}*/);
}
.ui-btn-hover-e:visited,
.ui-btn-hover-e:hover,
.ui-btn-hover-e a.ui-link-inherit {
    color:                  #333 /*{e-bhover-color}*/;
}
.ui-btn-down-e {
    border: 1px solid       #FF9900 /*{e-bdown-border}*/;
    border-bottom: 2px solid #F996600;
    background:             #FFCC00 /*{e-bdown-background-color}*/;
    color:                  #111 /*{e-bdown-color}*/;
    text-shadow: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #FFCC00 /*{e-bdown-background-start}*/), to( #FF9900 /*{e-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #FFCC00 /*{e-bdown-background-start}*/, #FF9900 /*{e-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #FFCC00 /*{e-bdown-background-start}*/, #FF9900 /*{e-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #FFCC00 /*{e-bdown-background-start}*/, #FF9900 /*{e-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #FFCC00 /*{e-bdown-background-start}*/, #FF9900 /*{e-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #FFCC00 /*{e-bdown-background-start}*/, #FF9900 /*{e-bdown-background-end}*/);
}
.ui-btn-down-e:visited,
.ui-btn-down-e:hover,
.ui-btn-down-e a.ui-link-inherit {
    color:                  #333 /*{e-bdown-color}*/;
}
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e {
    text-decoration: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h2 {
    color: #0099CC;
    font-weight: normal;
}

h2, .ui-input-text, legend, .ui-body-c input,
.ui-body-c select, .ui-body-c button {
    font-family: 'Roboto Condensed', sans-serif;
}

div.ui-input-text {
    border-width: 0 0 1px 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

input.ui-input-text {
    /*background-color: #f9f9f9 !important;*/
}

.ui-header .ui-title {
    margin: .1em 0 .3em .3em;
    text-align: left;
    color: #FFFFFF;
    text-shadow: none;
}
.ui-title .ui-btn {
    margin: 0;
    background: transparent none;
    border: 0 none;
    text-align: left;
    float: left;
}
.ui-title .logo {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    display: block;
    width: 82px;
    height: 15px;
    background: url(../img/logo-trupass.png) no-repeat 0 0;
}
.ui-header .ui-btn-icon-left .ui-icon {
    margin-top: -10px;
}

.splash-screen {
    background: url(../img/splash-background.jpg) no-repeat center top;
}

.splash-screen .button-group {
    position: absolute;
    bottom: 20px;
    width: 330px;
}

.splash-screen .ui-btn {
    margin-top: 0;
}

.splash-screen .ui-btn-inner {
    font-size: 20px;
}

.btn-login {
    border-color: #FFFFFF;
    background-color: #40658D;
}

.btn-sign-up {
    border-color: #CCCCCC;
    background-color: #BAB6B6
}

.confirmation h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.confirmation p {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    line-height: 20px;
    font-size: 16px;
}

.icons {
    float: left;
    display: block;
}

.ui-header .ui-btn-right.add-card {
    background: url(../img/icon-add-card.png) no-repeat 0 0;
    height: 15px;
    width: 22px;
    text-indent: -9999px;
    right: 55px;
    border: 0 none;
}

.ui-header .ui-btn-right.notification {
    background: url(../img/icon-notification.png) no-repeat 0 0;
    height: 15px;
    width: 15px;
    right: 25px;
    border: 0 none;
}
.ui-header .ui-btn-right.notification .ui-btn-inner {
    padding: 0;
}

.ui-header .ui-btn-right.notification .notification-number {
    color: #CCCCCC;
    font-weight: bold;
}

.ui-header .ui-btn-right.settings {
    background: url(../img/icon-settings.png) no-repeat 0 0;
    height: 15px;
    width: 4px;
    text-indent: -9999px;
    border: 0 none;
}


.wallet h2 {
    background-color: #0099CC;
    color: #FFFFFF;
    text-shadow: none;
    padding: 5px;
}

.wallet .ui-li-divider {
    background: #0099CC none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.wallet h3 {
    text-overflow: ellipsis;
    overflow: visible;
    font-size: 14px;
    margin-top: 0;
}

.wallet .ui-li-aside span {
    display: block;
    color: #2AB260;
    font-weight: bold;
    font-size: 14px;
}

.wallet .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
    padding-left: 50px;
}

.wallet .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
    padding-right: 55px;
}

.wallet .ui-li-thumb {
    top: 10px;
}

.ui-icon-payment {
    background: transparent url(../img/icon-pay.png) no-repeat !important;
    top: 30% !important;
    width: 35px;
    height: 35px;
}

.add-card legend {

}

.accept p {
    text-align: center;
    margin: 0 auto 100px auto;
    width: 250px;
    line-height: 20px;
    font-size: 16px;
}

.accept .amount {
    color: #2AB260;
}

.payment {
    text-align: center;
}

.payment h3, .payment p {
    margin: 0;
}

.payment p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.payment .available-credit {
    color: #2AB260;
    font-weight: bold;
    font-size: 22px;
}

.payment .nfc-disabled {
    display: block;
}

.payment .nfc-enabled {
    display: none;
}

.payment .nfc-icon {
    margin-top: 30px;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app-2 {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/*h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}*/

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}